/*
    Document   : main
    Created on : April 14, 2013
    Author     : ciclistadan
    Description:

main stylesheet for layout and design

*/


/*
http://www.colourlovers.com/pattern/637752/Paper_Sea
rgb(79,142,149); 
rgb(112,131,125);
rgb(164,177,167);
rgb(74,119,124);
rgb(255,255,255); 
*/

body{
    font-family: 'Ubuntu', sans-serif;
    font-size:10pt; 
    }

input, form, textarea
h1, h2, h3, h4, h5, h6{margin:0; padding:0;}
h1{font-size:18px;}
h2{font-size:14px; color:#999999;}
h3{font-size:13px; border-bottom:solid 1px #DEDEDE; padding:4px 0; margin-bottom:10px;}

/* -----------------------------------------------
PAGE STRUCTURE
----------------------------------------------- */
#container{
    width:1024px;
    margin:auto 50px;
}

#navbar{
    background-color: rgb(79,142,149);
    width:auto;
    display:block;
    height:32px;}
    #navbar a{heigth:28px; line-height:28px; padding:0 8px; display:inline;}

#top{
    /*background-color: gray;*/
    background-image:url('../images/COLOURlovers_Paper_Sea-bar.png');
    width:100%;
    display:block;
    height:75px;}
#main{
    min-height: 400px;
    width:100%;
    display:block;
    /*background-color: red;*/
    }
#bottom{
    background-image:url('../images/COLOURlovers_Paper_Sea-bar.png');
    width:100%;
    display:block;
    height:75px;
    float:left;
}
#footer{
    background-color: rgb(79,142,149);
    width:100%;
    display:block;
    height:32px;
    float:left;
    }

/* -----------------------------------------------
DYNAMIC
----------------------------------------------- */
.hidden{
    display:none;
}

.error{
    background-color: red;
}

/* -----------------------------------------------
SEARCH RESULTS
----------------------------------------------- */

#main .reagent_div{
    width: 490px;
    float:left;
    white-space: nowrap;
    overflow:hidden;
    border-radius: 7px;
    border-style:solid;
    border-color:rgb(79,142,149);

    padding:3px;
    margin:3px;

    cursor: pointer;

    font-weight: bold;
}

/* -----------------------------------------------
DETAILS and EDITING
----------------------------------------------- */
#side{
    /*background-color: teal;*/
    float:left;
    width:100%;
}

#side .reagent_div{
    width:999px;
    cursor: default;
}

#side .titlebar_value{
    text-align:center;
    font-size: 18pt;
    font-family: 'Kite One', sans-serif;
    padding: 10px;
}

.reagent_details1{
    height: 100%;
}

.reagent_details1{
    width: 50%;
    float:left;
}
.reagent_details2,
.aliquot_titlebar,
.aliquot_details{
    width: 50%;
    float:right;
}

.aliquot_titlebar,
.aliquot_details{
    clear:right;
}

textarea, 
input,
.container_selector,
.action_options
{
    font-family: 'Kite One', cursive;
    font-size:10pt;
    padding: 0.6em;
    border:none;
    background-color: rgb(164,177,167);
    opacity:0.5;
}

textarea{
    line-height: 14pt;
    overflow-y: hidden; /* fixes scrollbar flash - kudos to @brettjonesdev */
    
}

input{
    line-height: 10pt;
 }

.small_field textarea{
    resize:vertical;
    /*outline:none;*/
/*    min-width: 270px;*/
    width: 100%;
    height: 8px;
    min-height: 20px;
}

.large_field textarea{
    resize:vertical;
    width: 100%;
    height: 8px;
    min-height: 50px;
}



 .search_input{
    background-color: white;
    opacity: 0.9;
    border-radius: 7px;
    margin:5px;
    box-shadow: 1px 1px 5px #888888;
 }

.detail_name{
    padding: 5px 0 0 1px;
    float:left;
    width:30%;
    height: 19px;
}


.detail_value{
    float:left;
    width:60%;

}

/*.container_selector,
.action_options{
    padding:3px;
    margin:3px;
}*/

.aliquot_detail{
    width: 96%;
    float:left;
    white-space: nowrap;
    overflow:hidden;
    border-radius: 7px;
    border-style:solid;
    border-color:rgb(79,142,149);

    padding:3px;
    margin:3px;

    cursor: pointer;

    font-weight: bold;
}

.width_adjust{
    min-width: 20px;
    max-width:100px;
}

.page_navigator{
    cursor:pointer;
    margin-left: 5px;
}

.user_panel{
    float:right;
}

fieldset label,
fieldset input{
    display:block;  
}

/*notes*/
/*margin: 0 auto; will set no top and bottom margin and center left/right*/

/*use prefixr to expand css prefixes for various browsers, ctrl-cmd-x in any section will fix it (try with transition:all 1s; )*/
